h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

div {
    width: 100%;
    height: 100%;
}

svg {
    width: 2200px;
    padding: 5px;
    display: inline-block;
}

#tabsvg {
    height: 900px;
}

#boosvg {
    background-color: rgb(61, 61, 61);
    height: 1200px;
}

#pubsvg {
    background-color: rgb(61, 61, 61);
    height: 800px;
}

#libsvg {
    height: 800px;
}

#closvg {
    height: 400px;
}

#links {
    font-size: 24px;
    margin-left: 85px;
}

.axis {
    color: white;
    font-size: 20px;
}

.axislabel {
    color: white;
    fill: white;
    font-size: 22px;
    font-weight: bold;
}

.graphtitle {
    color: white;
    fill: white;
    font-size: 26px;
    font-weight: bold;
}

line.bookstores,
path.bookstores {
    fill: none;
    stroke: royalblue;
    stroke-width: 2px;
}

circle.bookstores {
    fill: royalblue;
    stroke: white;
}

line.ecommerce,
path.ecommerce {
    fill: none;
    stroke: greenyellow;
    stroke-width: 2px;
}

circle.ecommerce {
    fill: greenyellow;
    stroke: white;
}

.legend {
    font-size: 24px;
    fill: palegoldenrod;
    stroke: palegoldenrod;
}

line.xlibris,
path.xlibris,
line.indcom,
path.indcom {
    fill: none;
    stroke: palevioletred;
    stroke-width: 2px;
}

line.blurb,
path.blurb,
line.indloc,
path.indloc {
    fill: none;
    stroke: lightseagreen;
    stroke-width: 2px;
}

line.createspace,
path.createspace,
line.bn,
path.bn {
    fill: none;
    stroke: slateblue;
    stroke-width: 2px;
}

circle.xlibris,
circle.indcom {
    fill: palevioletred;
    stroke: white;
}

circle.blurb,
circle.indloc {
    fill: lightseagreen;
    stroke: white;
}

circle.createspace,
circle.bn {
    fill: slateblue;
    stroke: white;
}

.wider {
    width: 750px;
}

#organizer {
    display: inline-block;
    width: 895px;
}

#align-top {
    vertical-align: top;
}

#control {
    list-style: none;
    width: 450px;
    height: 90px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}