div{
    width: 100%;
    height: 100%;
}

svg{
    width: 2000px;
    padding: 5px;
    display: inline-block;
}

#tabsvg{
    height: 900px;
}

#boosvg{
    height: 700px;
}

#pubsvg{
    height: 700px;
}

#libsvg{
    height: 800px;
}

#closvg{
    height: 400px;
}